@font-face {
    font-family: Gilroy bold;
    src: url(./assets/fonts/Gilroy-Bold.otf);
  }

  @font-face {
      font-family: Gilroy medium;
      src: url(./assets/fonts/Gilroy-Medium.otf)
  }

  @font-face {
      font-family: Gilroy regular;
      src: url(./assets//fonts/Gilroy-Regular.otf)
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    position: absolute;
    font-family: 'Gilroy bold';
    font-size: 14px;
    width: 86vw;
    left: 7.1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: -0.9em;
}

#logo-elems{
    display: flex;
    width: 21.5em;
    font-size: 14px;
    letter-spacing: 0.08em;
    justify-content: space-between;
    align-items: center;
}


.main {
    display: flex;
    height: 100vh;
}

#left {
    background: #fff;
    width: 50%;
    padding: 6.9em 5em 0 6.3em;
    line-height: 1.2;
}

h1 {
    font-family: 'Gilroy bold';
    font-size: 64px;
    margin-top:0.5em;
    transition: margin-top 1s;
}

h2 {
    font-family: 'Gilroy medium';
    font-size: 20px;
    padding-top: 1em;
}

#right {
    background: #5053CA;
    width: 50%;
}

#highlight {
    color: #6367EF;
}
#checklist {
    font-family: 'Gilroy bold';
    font-size: 18px;
    margin-top: 0.7em;
    opacity: 0;
    transition: 1s;
}

.check {
    padding: 0.3em 0;
}
.check:before {
    content: url('./assets/images/check.png');
    position: relative;
    top: 10px;
    margin-right: 0.7em;
}


button {
    height: 3.7em;
    padding: 0 2em;
    font-family: 'Gilroy-Bold';
    margin-top: 3.3em;
    color: white;
    background: #171E33;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 
        color 1s,
        background-color 1s  ;
}

#button2:hover {
    color:black;
    background: #fff;
}


button:hover {
    background: #6367EF;
    
}

#arrow {
    padding-left: 1em;
    position: relative;
    top: 4px;
    left: 1px;
}

#scroll {
    font-family: 'Gilroy bold';
    font-size: 14px;
    color: gray;
    margin-top: 7.7em;
    letter-spacing: 0.08em;
    opacity: 0;
    transition: opacity 1s 1.5s;
}

#testimonials {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    width: 87vw;
    margin: 0 auto;
    margin-top: 4em;
}

#one {
    width: 70%;
    display: flex;
    margin-top: 10em;
}

#two {
    width: 30%;
}

#twenty {
    width: 40%;
}
#eighty {
    width: 50%;
}

#subheader {
    font-size: 56px;
    padding: 0;
}

#secondary-slider {
    margin-top: 17em;
    display: flex;
}

#slider-one, #slider-two{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: #171E33;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    transition: background 0.5s;
    cursor: pointer;
}

#slider-one:hover, #slider-two:hover {
    background: #6367EF;
}

#slider-one >img {
    width: 30%;
    transform: rotate(180deg)
}

#slider-two >img {
    width: 30%;
}

#social-proof {
    font-size: 24px;
    font-family: 'Gilroy regular';
    line-height: 1.7;
    letter-spacing: 0.01em;
}