@font-face {
    font-family: Gilroy bold;
    src: url(./assets/fonts/Gilroy-Bold.otf);
  }

  @font-face {
      font-family: Gilroy medium;
      src: url(./assets/fonts/Gilroy-Medium.otf)
  }

  @font-face {
      font-family: Gilroy regular;
      src: url(./assets//fonts/Gilroy-Regular.otf)
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#loader { 
    width: 70px; 
    height: 70px; 
} 
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 



a{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
a:hover {
    color: #6367EF;
}



 
 .carousel #deets {
    position: absolute;
    right: 26%;
    z-index: 5;
    width: 65px;
    margin: 0;
    padding: 0;
    bottom:8px;
 }

  .carousel {
    position: absolute;
    bottom: 6.9em;
    width: 206px;
    height: 440px;
    right: 19%;
    z-index: 2;
    border-radius: 25px;
    margin: 0;
    padding: 0;
  }
  .carousel #phone {
    width: 240px;
    position: absolute;
    top:0;
    z-index:-2;
 }
  .carousel__photo {
    opacity: 0;
    position: absolute;
    left: 6%;
    height: 440px;
    bottom: -0.7em;
  }

  
  .carousel__photo.initial,
  .carousel__photo.active {
    opacity: 1;
    z-index: 1;
    transition: transform .5s, opacity .5s, z-index .5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.3);
  }
  
  .carousel__photo.prev,
  .carousel__photo.next {
    z-index: 0;
    transition: transform 0.5s, opacity .3s, z-index .5s;
  }
  
  /* Translate previous item to the left */
  .carousel__photo.prev {
    opacity:0;
    transform: translateX(-150%) rotateY(-40deg) scale(0.5);
  }
  
  /* Translate next item to the right */
  .carousel__photo.next {
    opacity: 0.9;
    transform: perspective(10cm) translateX(70%) translateY(-5%) rotateY(-30deg) scale(0.7);
    z-index: -5;
  }

  .carousel__photo.upcoming {
    transform: perspective(10cm) translateX(105%) translateY(-5%) rotateY(-30deg) scale(0.45);
      opacity: 0.8;
      z-index: -8;

  }
  
  .carousel__button--next {
    position: absolute;
    bottom: 21em;
    width: 3rem;
    height: 3rem;
    right: 3rem;
    background-color: #171E33;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .carousel__button--prev {
    left:60%;
  }


header {
    position: absolute;
    font-family: 'Gilroy bold';
    font-size: 14px;
    width: 86vw;
    left: 7.1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: -0.9em;
    z-index: 6;
}

#logo-elems{
    display: flex;
    width: 21.5em;
    font-size: 14px;
    letter-spacing: 0.08em;
    justify-content: space-between;
    align-items: center;
}


.main {
    display: flex;
    height: 100vh;
}

#left {
    background: #fff;
    width: 50vw;
    padding: 6.9em 5em 0 6.3em;
    line-height: 1.2;
}

#right {
    background: #5053CA;
    width: 50vw;
    height: auto;
    overflow: hidden;
    background: url('./assets/images/XOXOXO.svg');
    background-size: cover;
}


h1 {
    font-family: 'Gilroy bold';
    font-size: 64px;
    margin-top:0.5em;
    transition: margin-top 0.5s;
    transition-timing-function: ease-in-out;
}

h2 {
    font-family: 'Gilroy medium';
    font-size: 20px;
    padding-top: 1em;
}


#highlight {
    color: #6367EF;
}
#checklist {
    font-family: 'Gilroy bold';
    font-size: 18px;
    margin-top: 0.7em;
    opacity: 0;
    transition: 1s;
}

.check {
    padding: 0.3em 0;
}
.check:before {
    content: url('./assets/images/check.png');
    position: relative;
    top: 10px;
    margin-right: 0.7em;
}


button {
    height: 3.7em;
    padding: 0 2em;
    font-family: 'Gilroy-Bold';
    margin-top: 3.3em;
    color: white;
    background: #171E33;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 
        color 1s,
        background-color 1s  ;
}

#button2:hover {
    color:black;
    background: #fff;
}


button:hover {
    background: #6367EF;
    
}

#arrow {
    padding-left: 1em;
    position: relative;
    top: 4px;
    left: 1px;
}

#scroll {
    font-family: 'Gilroy bold';
    font-size: 14px;
    color: gray;
    position: absolute;
    bottom: 30px;
    letter-spacing: 0.08em;
    opacity: 0;
    transition: opacity 1s 1.5s;
}

#testimonials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    width: 87vw;
    margin: 0 auto;
    margin-top: 4em;
}

#subheader2 {
    display: none;
}

#one {
    width: 30%;
    display: flex;
    margin-top: 10em;
}

#eighty>img {
    width: 100%;
}

#twenty {
    width: 40%;
}
#eighty {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#subheader {
    font-size: 56px;
    padding: 0;
}

#secondary-slider {
    margin-top: 17em;
    display: flex;
}

#slider-one, .slider-two{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: #171E33;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    transition: background 0.5s;
    cursor: pointer;
}

#slider-one:hover, .slider-two:hover {
    background: #6367EF;
}

#slider-one >img {
    width: 30%;
    transform: rotate(180deg)
}

.slider-two >img {
    width: 30%;
}

#social-proof {
    font-size: 24px;
    font-family: 'Gilroy regular';
    line-height: 1.7;
    letter-spacing: 0.01em;
    margin-right: 2em;
    padding-top: 4em;
}

#social-proof>h3 {
    font-size: 1em;
    padding-top: 2.5em;
    font-family: 'Gilroy bold';
}

#social-proof>#credential{
    display: inline-block;
    padding-top: 1em;
}

/* Mobile here */
@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    #left, #right {
        width: 100%;
        padding: 0;
    }

    #right {
        position: absolute;
        height: 75vh;
        top:0;
        background-size: 200%;
        background-position: right 100%;
    }
    #left {
        position: absolute;
        top: 75vh;
        padding: 2em 2em 0 2em;
    }
    header {
        display: none;
    }

    h1 {
        font-size: 2.6em;
    }
    .carousel {
        right:8.5em;
    }
    .carousel #phone {
        width: 200px;
        top:6em;
    }

    .carousel__photo {
        left: 5%;
        height: 370px;
        bottom: -2em;
    }

    .carousel #deets {
        right: 35%;
        width: 50px;
        bottom: 0;
    }

    #scroll {
        bottom: 0;
    }

    #testimonials {
        flex-direction: column;
        /* margin: 0; */
        padding: 1em;
        margin-top: 17em;
    }

    #one,#eighty,#twenty {
        width: 100%;
        margin:0;
        padding: 0;
    }

    #social-proof {
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
        padding: 2em 0;
    }
    #eighty {
        flex-direction: column-reverse;
    }

    #social-proof>#credential {
        font-size: 16px;
    }

    #social-proof {
        font-size: 20px;
    }
    

    #two {
        width: 90%;
        margin: 0 auto;
    }

    #two>img {
        width: 100%;
        margin: 0 auto;
    }

    #scroll {
        display: none;
    }

    #secondary-slider{
        margin: 0;
        display: none;
    }
    #subheader {
        display: none;
    }
    #subheader2 {
        font-size: 28px;
        display: block;
        padding-bottom: 1em;
    }
  }